.Header{
  max-height: 800px;
  background-color: rgb(230, 237, 252);
}

.Header .btn{
  width: fit-content;
}

.Header .btn:hover{
  color: white;
}

.header-text{
  letter-spacing: 1px;
  max-height: 800px;
}

.header-text h1{
  color: cornflowerblue;
}

.header-text h1 span{
  font-weight: 700;
}

.header-text h1:nth-child(2){
  font-weight: 450;
}

.header-text p{
  color: cornflowerblue;
  font-size: 1.2rem;
}

.header-text .header-btn{
  transition: all .3s;
  border-color: cornflowerblue;
  color: cornflowerblue;
}

.header-text .header-btn:hover{
  background: linear-gradient(0.2turn, cornflowerblue, blueviolet);
  color: rgb(230, 237, 252);
}

.header-pic{
  max-height: 800px;
}

.header-pic .image-wrapper{
  border-radius: 50%;
  background: linear-gradient(0.2turn, cornflowerblue, blueviolet);
  max-height: 500px;
  max-width: 500px;
}

.header-pic img{
  max-height: 500px;
  max-width: 500px;
  border-radius: 50%;
}
/* .header-pic img{
  height: 75%;
  max-height: 600px;
  width: 100%;
} */

@media screen and (min-width: 1600px) {
  .header-text h1{
    font-size: 3.3rem;
  }

  .header-text p{
    font-size: 1.4rem;
  }

  .header-text .header-btn{
    font-size: 1.5rem;
  }

  .header-pic .image-wrapper, .header-pic img{
    max-height: 600px;
    max-width: 600px;
  }
}

@media screen and (max-width: 1400px){
  .Header, .header-text, .header-pic{
    min-height: 600px;
  }

  .header-pic img{
    width: 480px;
    max-height: 470px;
  }
}

@media screen and (max-width: 1200px){
  .Header, .header-text, .header-pic{
    max-height: 750px;
  }

  .header-pic img{
    height: 450px;
    width: 450px;
  }
  /* .header-pic img{
    height: 68%;
    max-height: 400px;
  } */
}

@media screen and (max-width: 1100px){
  .header-pic img{
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1020px){
  .header-pic img{
    height: 380px;
    width: 380px;
  }
}

@media screen and (max-width: 992px){
  .Header{
    justify-content: center;
  }

  .header-text{
    height: 100%;
  }

  .header-pic, .header-pic img{
    display: none;
  }
}

@media screen and (max-width: 576px){
  .Header{
    padding-left: 5%;
  }
}

@media screen and (max-width: 400px){
  .header-text h1{
    font-size: 1.6rem;
  }

  .header-text p{
    font-size: 1rem;
  }
}