.Navs .navbar{
  background-color: brown;
  opacity: .6;
  transition: all .3s;
}

.Navs .navbar:hover{
  opacity: 1;
}

@media screen and (min-width: 1600px) {
  .navbar-brand{
    font-size: 1.6rem;
  }

  .nav-link{
    font-size: 1.3rem;
  }
}