.Navs .navbar{
  background-color: rgb(230, 237, 252);
  transition: all .3s;
}

.Navs .navbar:hover{
  opacity: 1;
}

.navbar-brand, .nav-link{
  color: cornflowerblue!important;
}

.navbar-dark .navbar-toggler{
  border-color: transparent!important;
}

.navbar-dark .navbar-toggler .fa-bars{
  color: cornflowerblue;
  font-size: 25px;
}

@media screen and (min-width: 1600px) {
  .navbar-brand{
    font-size: 1.6rem;
  }

  .nav-link{
    font-size: 1.3rem;
  }
}