.PilSkills{
  background-color: firebrick;
  border-radius: 10% / 60%;
  height: 40px;
}

.skill-text{
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1600px) {
  .PilSkills .skill-text{
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1400px) {
  .skill-text{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 450px) {
  .PilSkills{
    border-radius: 10% / 45%;
    width: 75px;
    height: 35px;
    padding: 1%;
  }

  .skill-text{
    font-size: .7rem;
  }
}